core
db/
db.py
storage/
node_modules/
search_index/
/env/
/envs/
.env/
.idea/
.repos/
.vscode/
.hg/
.hgignore
__pycache__
*.pyc
*.db
*.sqlite
*.sqlite3
*.pyo
*.pid
*.sock
*.egg-info
*.egg
.DS_Store
.project
.pydevproject
.settings
.tox