cssselect>=0.9.2
Django>=1.11,<3.0
django-cms>=3.4,<3.8
django-compressor>=2.2
django-filer
django-libsass
googlemaps
lxml

-e git+https://github.com/rouxcode/django-text-ckeditor@master#egg=django-text-ckeditor